/*
CORES
#D92B04
#45858C
#A0D9D9
#D9C589
#BF9765

#8C1C3A
#BF244E
#F2A88D
#D9765F
#BF8821

font-family: 'Caveat', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Marhey', cursive;
font-family: 'Mynerve', cursive;
font-family: 'Roboto', sans-serif;
*/

* {
    padding: 10;
    margin: 10;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

h1 {
    font-family: 'arial', sans-serif;
    text-shadow: 4px 4px 6px #920000;
    font-weight: 700;
    font-size: max(44px, 5.2vw);
}

h2 {
    
    text-align: center;
    font-family: Arial, sans-serif;
    text-shadow: 4px 6px 6px #559fff;
    font-weight: 50px;
    font-size: max(20px, 2.8vw);

}


/*------- BOTÃO CHAMADA ------------*/

div.chamada a {
    font-size: max(16px, 1.8vw);
    color: #ffffff;
    text-decoration: none;
    padding: 20px 80px;
    border-radius: 50px;
    font-weight: 600;
    background: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 121, 151)50%, rgb(0, 174, 255)100%);
    display: inline-block;
    /* animation-name: HeaderA-moverParaCima;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
    transition: .3s ease-in-out; */
}

div.chamada a:hover {
    opacity: .8;
}


/*--------------------------*/


/*  ELEMENTOS DO HEADER     */


/*--------------------------*/

header {
    max-width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}


/*------- NAVEBAR ------------*/

header nav#nav-esquerda {
    width: 100%;
    height: 90px;
    display: flex;
    flex-flow: row;
    align-items: center;
    /* justify-content: space-between; */
    background: linear-gradient(rgb(0, 0, 0) 0%, rgb(3, 96, 112)50%, rgb(70, 233, 255)100%);
}

header nav#nav-esquerda div#logo {
    max-width: 100px;
    max-height: 120px;
    margin-left: 5rem;
}

header nav#nav-esquerda div#logo img {
    max-width: 100%;
    max-height: 100%;
}


/*-------- MENU HAMBURGUER -----------*/

header nav#nav-esquerda ul#icone-menu {
    display: none;
}

header nav#nav-esquerda ul#icone-menu li {
    list-style: none;
}

header nav#nav-esquerda ul#icone-menu li ion-icon {
    font-size: 50px;
    color: #fff;
    margin-right: 2rem;
}


/*-------- MENU -------------- */

header nav#nav-esquerda ul.menu-principal {
    margin-left: 5rem;
    display: flex;
    flex-flow: row wrap;
}

header nav#nav-esquerda ul.menu-principal li {
    list-style: none;
    margin-right: 2rem;
}

header nav#nav-esquerda ul.menu-principal li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 110%;
    text-shadow: 4px 6px 10px #0004ff;
    padding-bottom: 10px;
    transition: .3s ease-in-out;
}

header nav#nav-esquerda ul.menu-principal li a:hover {
    opacity: .6;
    border-bottom: 1px solid #ffe600;
}


/*-------- CHAMADA -------------- */

header div.chamada {
    position: absolute;
    width: 100%;
    height: 300px;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header div.chamada h1 {
    color: #FFF;
    /* animation-name: HeaderH1-moverParaDireita;
    animation-duration: 2s;
    animation-timing-function: ease-out; */
}

header div.chamada h2 {
    color: #ffffff;
    margin-bottom: 55px;
    /* animation-name: HeaderH1-moverParaEsquerda;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards; */
}
header img{
    margin: 10px;
    
    height: 50%;
}

/*--------------------------*/


/*          SOBRE           */


/*--------------------------*/


/*--------------------------*/


/*  SECTION MOTIVAÇÃO       */



/*--------------------------*/


/*--------------------------*/


/*  SECTION MAKES       */


/*--------------------------*/

section.motivacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 60px;
}

section.motivacao h2 {
    margin-top: 40px;
    margin-bottom: 50px;
    max-width: 850px;
    font-size: max(22px, 2.8vw);
    text-align: center;
    color: #BF9765;
}

section.makes div.motivacao-container {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}



/*--------------------------*/


/*  ELEMENTOS DO FOOTER     */


/*--------------------------*/

footer {
    width: 100%;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

footer div.footer-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
}

footer div.footer-container div.logo-footer {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

footer div.footer-container div.logo-footer img {
    max-width: 1000%;
}

footer div.footer-container div.footer-info {
    width: 70%;
    margin-bottom: 50px;
    padding-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

footer div.footer-container div.footer-info nav.nav-footer ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}


footer div.footer-container div.footer-info div.cartoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div.footer-container div.footer-info div.cartoes span {
    font-family: 'Roboto', sans-serif;
    color: #00ccff;
    font-size: max(16px, 1.5vw);
    margin-top: 15px;
}

footer div.footer-container div.footer-info div.cartoes div.footer-img-cartoes {
    max-width: 600px;
    max-height: 500px;
}

footer div.footer-container div.footer-info div.cartoes div.footer-img-cartoes img {
    max-width: 100%;
    height: 100px;
    
}

footer span.autorais {
    color: #FFF;
    font-size: max(14px, .8vw);
    margin-top: 20px;
}
